header .menu {
  background-color: #7b5bb0;
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-size: 18pt;
  margin-bottom: 0;
  height: 2.15em;
}

.menu-item {
  display: inline-block;
  margin: 0 0;
  min-width: 8em;
  text-align: center;
  background-color: #bd5deb;
  padding: 0.5em 0;
}

.menu-item a {
  color: #131213;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ad04ac;
}

.dropdown {
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  border: 1px solid #000;
  margin-top: 0.5em;
  background-color: #9a5698;
  z-index: 1;
}

.dropcontent a {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropitem {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em;
  min-width: 7em;
}

.dropitem:hover, .dropitem:hover a {
  background-color: #b00859;
}

.body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  padding: 2em;
}

.about {
  flex: auto;
  width: 250px;
  height: 300px;
  padding: 3em;
}

.one {
  background-color: #580303;
}

.two {
  background-color: #b50707;
}

.contact {
  flex: auto;
  width: 250px;
  padding: 3em;
  background-color: #780226;
}

@media (min-width: 384px) {

.one {
    width: 100%;
  }
.two {
    width: 100%;
  }
.contact {
    width: 100%;
  }
}
@media (min-width: 659px) {
.one {
    width: 100%;
  }
.two {
    width: 50%;
  }
.contact {
    width: 50%;
  }
}

@media (min-width: 1366px) {
.one {
    width: 33.3%;
  }
.two {
    width: 33.3%;
  }
.contact {
    width: 33.3%;
  }
}
