header .menu {
  background-color: #7b5bb0;
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-size: 18pt;
  margin-bottom: 0;
  height: 2.15em;
}

.menu-item {
  display: inline-block;
  margin: 0 0;
  min-width: 8em;
  text-align: center;
  background-color: #bd5deb;
  padding: 0.5em 0;
}

.menu-item a {
  color: #131213;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #ad04ac;
}

.dropdown {
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  border: 1px solid #000;
  margin-top: 0.5em;
  background-color: #9a5698;
  z-index: 1;
}

.dropcontent a {
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropitem {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0.5em;
  min-width: 7em;
}

.dropitem:hover, .dropitem:hover a {
  background-color: #b00859;
}

.body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  padding: 2em;
}

.intro {
  background-color: #9eab04;
}

.review {
  flex: auto;
  width: 250px;
  height: 300px;
  padding: 3em;
}

.one {
  background-color: #849a38;
}

.two {
  background-color: #c1b905;
}

.three {
  background-color: #7e6e05;
}

.four {
  background-color: #fbcc03;
}

.five {
  background-color: #e6950d;
}

.six {
  background-color: #ee9f43;
}

.seven {
  background-color: #f7752b;
}

.eight {
  background-color: #d65105;
}

.nine {
  background-color: #b84926;
}

@media (min-width: 384px) {
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
    width: 100%;
  }
}

@media (min-width: 659px) {
  .one {
    width: 100%;
  }

  .two, .three, .four, .five, .six, .seven, .eight, .nine {
    width: 50%;
  }
}

@media (min-width: 1366px) {
  .one {
    width: 100%;
  }

  .two, .three, .four, .five, .six, .seven, .eight, .nine {
    width: 25%;
  }
}
