.head {
  width: 100%;
  background-color: #fa5504;
  font-family: 'Frank Ruhl Libre', sans-serif;
  text-align: center;
}
.body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  padding: 3em;
}
.primary {
  flex: auto;
  width: 250px;
  height: 600px;
  padding: 3em;
}
.one {
  background-color:#8c7af9;
}
.two {
  background-color: #056ab3;
}
.three {
  background-color: #06a4a4;
}
.four {
  background-color: #07e3a1;
}
@media (min-width: 384px) {
.one{
    width: 100%;
    height: 300px;
  }
.two {
    width: 100%;
  }
.three {
    width: 100%;
  }
.four{
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 659px) {
.one {
  width: 50%;
  }
.two {
  width: 50%;
}
.three {
  width: 50%;
}
.four {
  width: 50%;
  }
}
@media (min-width: 1366px) {
  .one {
    width: 25%;
  }
  .two {
    width: 25%;
  }
  .three {
    width: 25%;
  }
  .four{
    width: 25%;
  }
}
