.head {
  width: 100%;
  background-color: #fa5504;
}
.primary {
  flex: auto;
  width: 250px;
  height: 300px;
}
.one {
  background-color: #051b69;
}
.two {
  background-color: #056ab3;
}
.three {
  background-color: #04635e;
}
.four {
  background-color: #07e3a1;
}
@media (min-width: 384px) {
  .one{
    width: 100%;
  }
  .two {
    width: 100%;
  }
  .three {
    width: 100%;
  }
  .four{
    width: 100%;
  }
}
@media (min-width: 659px) {
  .one {
    width: 33.3%;
    height: 50%;
  }
.two {
  width: 33.3%;
}
.three {
  width: 33.3%;
}
.four {
  width: 33.3%;
  height: 50%;
}
}
@media (min-width: 1366px) {
  .one {
    width: 25%;
  }
  .two {
    width: 25%;
  }
  .three {
    width: 25%;
  }
  .four{
    width: 25%;
  }
}
